* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: none;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
}
